@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Protest+Guerrilla&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}
#robot{
    width: 20vw;
}
h1{
    color: aliceblue;
    font-family: "Aclonica", sans-serif;
}
#name{
    color: rgb(244, 15, 160);
    font-size: 45px;;
}
#va{
    color: rgb(0, 123, 255);
    font-size: 45px;;
}
#voice{
    width: 150px;
    display: none;
}
#btn{
 width: 30%;
 background: linear-gradient(to right,rgb(3, 154, 241),rgb(237, 2, 135));
 padding: 10px;
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 10px;
 font-size: 20px;
 color: white;
 box-shadow: 2px 2px 10px rgb(4, 144, 252),2px 2px 10px rgb(237, 2, 135);
 border-radius: 20px;
 border: none;
 transition: all 0.5s;
 cursor: pointer;
}
#btn:hover{
    box-shadow: 2px 2px 20px rgb(4, 144, 252),2px 2px 20px rgb(237, 2, 135);  
    letter-spacing: 2px;
}